<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--FAVICOM-->
    <link rel="icon" type="image/png" href="/favicom.png">
    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!--ICONOS DE REDES SOCIALES-->
    <script src="https://kit.fontawesome.com/75d28f532d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1> Colombia </h1>

        <nav class="nav-links">

            <a href="/index.html"> Inicio    </a>
            <a href="/views/galeria.html"> Galeria </a>
            <a class="active" href="#"> Presupuesto</a>
            <a href="/views/contactos.html"> Contactos </a>
        </nav>
    </header>

    <section class="hero-presupuesto">
        <h2> Ven a conocer colombia </h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas nobis 
            sapiente consectetur voluptatem facilis porro voluptatum, nesciunt, 
            odit animi atque accusantium at eveniet rerum dolor laboriosam velit
            accusamus! Nemo, distinctio!
        </p>
    </section>

    <section class="contenido">
        <h2> Hacemos tu presupuesto </h2>

       

        
        <p>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
             eum iusto odit explicabo incidunt ducimus illum magni ratione 
             aliquam dolor culpa hic, nisi, iure sed esse necessitatibus facilis,
             aliquid nesciunt!
             <br><br>
             Esse, debitis doloribus quisquam expedita eligendi velit laboriosam
             perferendis repellat sed. Iusto quas quia aut magni sequi voluptatem 
             tempora. Dignissimos eveniet enim pariatur dolorem in inventore illum 
             recusandae mollitia officia.
             <br><br>
             Odio nobis id repellat alias, est autem consequuntur iste laudantium 
             libero beatae voluptas ut, eum et ipsum praesentium sequi delectus mollitia
             quam iusto enim. Repellat blanditiis cumque placeat dolorem tenetur.
        </p>
    </section>
    <!---+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
        -+-+-+-+-+-+-+-+-+-+---SECCION-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
        -+-+-+-+-+-+-+-+-+--+ FORMULARIO-+-+-+-+-+-+-+-+-+-+-+-+-+-+
        -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+--->

    <section class="contenido">
        <h2> Contactanos </h2>
        <form class="contact-form">

            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Tu Nombre">

            <label for="email">Correo Electronico</label>
            <input type="email" id="email" name="email" placeholder="Tu correo">

            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" rows="4" placeholder="Escribe tu mensaje"></textarea>

            <input type="submit" value="Enviar">
        </form>
    </section>

    <section class="contenido-gal">
        <h2> Bienvenido a Colombia </h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas nobis 
            sapiente consectetur voluptatem facilis porro voluptatum, nesciunt, 
            odit animi atque accusantium at eveniet rerum dolor laboriosam velit
            accusamus! Nemo, distinctio!
        </p>
    </section>

    <!--.*.*.**..**.*.*..**.*.*.*.**.*..*.*.*.*.*.*.*.*.*.*.*.*.*..*.**.*..**.*.*.*.**..*.**.*.*.*.*.*.**.*
    *.*.*.*.**.*.*.*.*.**.**.*.*.*.**PIE DE PAGINA*.*.*.**.*.*.**.*.*.*.*.*.*.*.*.*.*.*.*.**.**.*.*.*.*.*..*
    *.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.**.*.*.*.*.*.*.*.*.*.*.*.*.*.**.*.*.*.*.*.*.*.*.*.*.*.*.*-->

    <footer class="pie-pagina">
        <div class="grupo-1">
            
            <div class="box">
                <h2>Colombia</h2>
            </div>

            <div class="box">
                <nav class="nav-links">

                    <a class="active" href="#"> Inicio    </a>
                    <a href="/views/galeria.html"> Galeria </a>
                    <a href="/views/presupuesto.html"> Presupuesto</a>
                    <a href="/views/contactos.html"> Contactos </a>
                </nav>
            </div>

            <div class="red-social">
                <h2>SIGUENOS</h2>
                <div class="red social">
                    <a href="https://www.facebook.com/jordan.kennedy.9484" class="fa-brands fa-facebook"></a>
                    <a href="https://www.instagram.com/saludy_bienestar21/" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>

        

        <div class="grupo-2">
            <small>&copy; 2024 <b>colombia</b> - Todos los derechos reservados</small>
        </div>
        

    </footer>


    
</body>
</html>